<div class="footer">
    <div class="container-fluid parent">
        <div class="row">
            <div class="left col-md-5">
                <a class="mylib" href="#">My<span class="text-success">-library</span></a>
                <div class="quotes">
                    <p>"Libraries store the energy that fuels the imagination. They open up windows to the world and
                        inspire us to explore and achieve, and contribute to improving our quality of life."<br>
                        <span class="text-success">Sidney Sheldon </span>
                    </p>
                </div>
            </div>
            <div class="right col-md-7">
                <p class="footer-brand mt-2" href="#">Categroies of books</span></p>
                <br>
                <!-- <div class="row"> -->
                <!-- <div class="col-md-3"> -->
                <a class="" href="#">Philosophy</a>
                <a class="" href="#">Romance</a>
                <a class="" href="#">Politics</a>
                <a class="" href="#">Classics</a>
                <a class="" href="#">Fantasy</a>
                <a class="" href="#">Horror</a>
                <a class="" href="#">Travel</a>
                <a class="" href="#">Western</a>
                <a class="" href="#">Drama</a>
                <a class="" href="#">Fairytale </a>
                <a class="" href="#">Thriller</a>
                <a class="" href="#">Mystrey</a>
            </div>

        </div>
    </div>
</div>

</body>
<!-- <script src="/style.js"></script> -->
</html>