
    <div class="footer">
        <div class="container-fluid parent">
            <div class="row">
                <div class="left col-md-5">
                    <a class="mylib" href="#">My<span class="text-success">-library</span></a>
                    <div class="quotes">
                        <p>"Libraries store the energy that fuels the imagination. They open up windows to the world and
                            inspire us to explore and achieve, and contribute to improving our quality of life."<br>
                            <span class="text-success">Sidney Sheldon </span>
                        </p>
                    </div>
                </div>
                <div class="right col-md-7">
                    <p class="footer-brand mt-2" href="#">Categroies of books</span></p>
                    <br>
                    <!-- <div class="row"> -->
                        <!-- <div class="col-md-3"> -->
                            <a class="" href="#">Philosophy</a>
                            <a class="" href="#">Romance</a>
                            <a class="" href="#">Politics</a>
                            <a class="" href="#">Classics</a>
                            <a class="" href="#">Fantasy</a>
                            <a class="" href="#">Horror</a>
                            <a class="" href="#">Travel</a>
                            <a class="" href="#">Western</a>
                            <a class="" href="#">Drama</a>
                            <a class="" href="#">Fairytale </a>
                            <a class="" href="#">Thriller</a>
                            <a class="" href="#">Mystrey</a>
                        <!-- </div> -->
                        <!-- <div class="col-md-4"> -->
                        <!-- <div class="footer-icons">
                            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook fa-beat-fade"></i></a>
                            <a href="https://www.instagram.com/"><i class="fa-brands fa-square-instagram fa-flip" style="color: #8f2d37;"></i></a>
                            <a href="https://x.com/i/flow/login"><i class="fa-brands fa-square-x-twitter" style="color: #ffffff;"></i></a>
                            <a href="https://www.google.com/"><i class="fa-brands fa-google fa-spin-pulse" style="color: #ffffff;"></i></a>
                        </div> -->
                        <!-- </div>
                    </div> -->
                </div>
                <!-- <div class="conditions">
                    <p class="text-center p text-light">this website is for exploring the books and you can issue the books for home </p>
                </div> -->
            </div>
        </div>
    </div>
</body>

</html>